[Unit]
Description=Sausage Store Frontend Service
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=http-server /var/www-data/dist/frontend/ -p 8090 --proxy http://localhost:8090
User={{ frontend_service_user }}
StandardOutput=append:{{ log_directory }}/sausage-store-frontend.log
StandardError=append:{{ log_directory }}/sausage-store-frontend.log
Restart=on-failure

[Install]
WantedBy=multi-user.target